.modal {
  font-size: 12px;
}

.modal>.headerModal {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.contentModal {
  width: 100%;
  padding: 10px 5px;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.tableModal {
  width: 100%;


}

.campoID {
  width: 20px;
}

.campoName {
  width: 100%;

}

.campoQuota {
  width: 100%;

}

.col1 {
  width: 5%;

}

.col2 {
  width: 60%;

}

.col3 {
  width: 20%;


}

.col4 {
  width: 15%;

}

.Headcol1 {
  width: 5%;
  background: #c2bfbfd3;
  border: none;

}

.Headcol2 {
  width: 60%;
  background: #c2bfbfd3;
  border: none;


}

.Headcol3 {
  width: 20%;
  background: #c2bfbfd3;
  border: none;


}

.Headcol4 {
  width: 15%;
  background: #c2bfbfd3;
  border: none;
}
