.modal {
  font-size: 12px;
}

.modal>.headerModal {
  width: 100%;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}

.modal>.contentModal {
  width: 100%;
  padding: 1px 1px;
  max-height: 500px;
  overflow: auto;
}

.modal>.actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}

.modal>.close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}


.tableModal {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th,
td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.campoID {
  width: 20px;
}

.campoName {
  width: 98%;

}

.campoQuota {
  width: 95%;

}



.col2 {
  width: 55%;

}

.col3 {
  width: 30%;


}

.col4 {
  width: 15%;

}



.Headcol2 {
  width: 55%;
  background: #c2bfbfd3;
  border: none;


}

.Headcol3 {
  width: 30%;
  background: #c2bfbfd3;
  border: none;


}

.Headcol4 {
  width: 15%;
  background: #c2bfbfd3;
  border: none;
}

.help-block {
  color: red;
  margin-bottom: 10px;


}

.rdw-editor-main {
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  max-height: 120px;
}

.alert {
  width: 100%;
}

@media (max-width: 1020px) {
  .popup-content {
    width: 90% !important
  }
}
